<div id="grad">
  <div class="container">
    <div *ngIf="!showQuestions && !showEvaluation && !showFeedback">
      <img class="logo" src="../assets/Logo.png">
      <hr/>
      <h3><em>"Crisis as a chance"</em></h3>
      <p>
        COVID-19 changed our lives and our impact on the ecosystem, why don't we keep the benefit of these changes?<br/><br/>
        <b>#resourceconsciousliving</b><br/><br/>
      </p>
      <div>start</div>
      <i class="arrow down" (click)="showQuestions=true"></i>
    </div>
    <div class="padding-bottom">
      <div *ngIf="showQuestions">
        <app-questions (endOfQuestions)="showResult()"></app-questions>
      </div>
      <div *ngIf="showEvaluation">
        <app-evaluation></app-evaluation>
        <i class="arrow down" (click)="showFeedbackSite()"></i>
      </div>
      <div *ngIf="showFeedback">
        <app-feedback></app-feedback>
      </div>
    </div>
    <div id="disclaimer">
      Data based on <br />
      <a href="https://www.wwf.ch/de/nachhaltig-leben/footprintrechner"> WWF Footprint-Rechner </a> <br />
      <a href="https://www.ecospeed.ch/welcome/de/"> Ecospeed Demo </a> <br />
      <a href="https://www.mobitool.ch/"> mobitool Vergleichsrechner </a> <br />
      <a href="https://shop.southpolecarbon.com/uploads/assets/de/_Overnight%20Stays.pdf"> south pole Carbon Footprint Calculator </a> <br />
    </div>
  </div>
</div>

<router-outlet></router-outlet>