.row {
  justify-content: space-around;
}
.row-child-fix {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: unset;
  margin-left: 10px;
  margin-right: 10px;
  border: cornflowerblue inset 1px;
  border-radius: 5px;
  p {
    color: #00a099;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
}

.result-in-percent-left, .result-in-percent-right {
  height: 20px;
  background-color: white;
  padding: 0;
  overflow: hidden;
}
.result-in-percent-left {
  border-radius: 5px 2px 2px 5px;
  margin-left: auto;
  p {
    text-align: right;
  }
}
.result-in-percent-right {
  border-radius: 2px 5px 5px 2px;
  margin-right: auto;
  p {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .result-in-percent-right, .result-in-percent-left {
    border-radius: 5px 5px 5px 5px;
  }

  .for-value {
    padding: 10px;
    width: 95%;
  }

  .show-on-sm {
    display: block;
  }
}