.row {
  justify-content: space-around;
}
.row-child-fix {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: unset;
  margin-left: 10px;
  margin-right: 10px;
  border: cornflowerblue inset 1px;
  border-radius: 5px;
}

.result-in-purcent-left {
  width: 50% !important;
  height: 20px;
  min-width: 10px;
  background-color: white;
  border-radius: 5px 2px 2px 5px;
  margin-left: auto;
}
.result-in-purcent-right {
  width: 50% !important;
  height: 20px;
  min-width: 10px;
  width: 10%;
  background-color: white;
  border-radius: 2px 5px 5px 2px;
  margin-right: auto;
}