i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .left {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
  }

.button-next-question {
  position: relative;
  background: blue;
  border: blue 1px solid;
  color: white;
  float: right;
  cursor: pointer;
}

.logo {
    height: 20vh;
}