<div>
    <app-question-one *ngIf="showQuestions[0]"></app-question-one>
    <app-question-two *ngIf="showQuestions[1]"></app-question-two>
    <br />
    <div class="nav-row">
    <div class="question-nav">
        <div (click)="backQuestion()" *ngIf="!showQuestions[0]">
        <i class="arrow left"></i>
        Previous question
        </div>
    </div>
    <div class="spacer"></div>
    <div class="question-nav">
        <div (click)="showQuestion()">
        Next question
        <i class="arrow right"></i>
        </div>
    </div>
    </div>
</div>