<div class="container column">
  <img class="question-logo" src="../assets/Mobility.png">
  <h1 class="question-title">Mobility</h1>
  <div class="row row-one">
    <div>
      <h4>before the lockdown</h4>
      <p>How many kilometers do you drive your car <u>per week</u>?</p>
      <ng-select
        [(ngModel)]="carbonCalculator.userSelection.mobilityCarPerWeekBefore"
        bindLabel="value"
        bindValue="key"
        [items]="carbonCalculator.mobilityCarPerWeekBefore"
        [searchable]="false"
        class="select custom">
      </ng-select>
    </div>

    <div>
      <h4>during the lockdown</h4>
      <p>How many kilometers do you drive your car <u>per week</u>?</p>
      <ng-select
        [(ngModel)]="carbonCalculator.userSelection.mobilityCarPerWeekAfter"
        bindLabel="value"
        bindValue="key"
        [items]="carbonCalculator.mobilityCarPerWeekAfter"
        [searchable]="false"
        class="select custom">
      </ng-select>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div>
      <h4>before the lockdown</h4>
      <p>How many kilometers do you use public transport <u>per week</u>?</p>
      <ng-select
        [(ngModel)]="carbonCalculator.userSelection.mobilityPublicTransportPerWeekBefore"
        bindLabel="value"
        bindValue="key"
        [items]="carbonCalculator.mobilityPublicTransportPerWeekBefore"
        [searchable]="false"
        class="select custom">
      </ng-select>
    </div>

    <div>
      <h4>during the lockdown</h4>
      <p>How many kilometers do you use public transport <u>per week</u>?</p>
      <ng-select
        [(ngModel)]="carbonCalculator.userSelection.mobilityPublicTransportPerWeekAfter"
        bindLabel="value"
        bindValue="key"
        [items]="carbonCalculator.mobilityPublicTransportPerWeekAfter"
        [searchable]="false"
        class="select custom">
      </ng-select>
    </div>
  </div>
  <hr/>
  <div class="column">
    <p><b>Why did you move less than before the lockdown?</b></p>
    <div class="column">
      <div class="row" *ngFor="let whyDidyouMoveLess of carbonCalculator.whyDidyouMoveLess; let i=index">
        <input type="radio" [value]="whyDidyouMoveLess.key" [(ngModel)]="carbonCalculator.userSelection.whyDidyouMoveLess"> {{whyDidyouMoveLess.value}}
      </div>
    </div>
  </div>
</div>