/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css"

body
  font-family: 'PT Sans Caption', sans-serif

.ng-select.custom .ng-value
  color: white

.ng-select.custom .ng-select-container
  background: transparent
  border: white 3px solid !important

.ng-select.custom .ng-clear-wrapper
  color: white

.ng-select.custom .ng-arrow-wrapper
  border: white 3px solid
  width: 36px
  margin-right: -13px
  height: 36px

.ng-select.custom .ng-arrow-wrapper .ng-arrow
  position: relative
  border-color: transparent
  border-width: unset
  top: -1px
  margin-left: -20px

.ng-select.custom .ng-arrow-wrapper .ng-arrow:before
  content: ''
  position: absolute
  top: 0
  left: 0
  border-top: 12px solid #ffffff
  border-left: 12px solid transparent
  border-right: 12px solid transparent

.ng-select.custom .ng-arrow-wrapper .ng-arrow:after
  content: ''
  position: absolute
  left: 3px
  top: 0
  border-top: 9px solid #054c93
  border-left: 9px solid transparent
  border-right: 9px solid transparent

hr
  width: 100px

.row
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  div
    padding-left: 10px
    padding-right: 10px
    width: 100%

.column
  display: flex
  flex-direction: column
  align-items: center

.question-logo
  width: 15vw

.question-title
  margin-top: auto
  font-size: 3em

@media only screen and (max-width: 600px)
  .row
    flex-direction: column